extends ../shared/layout.pug
block head

block content
    div#login-form.form-basic.leaf
        h1= "Login"
        form(action="/login" method="POST") 
            input#email-input(name="email" type="text" placeholder="example@domain.com")
            input#password-input(name="password" type="password" placeholder="Password...")
            div(class="btn-group")
                input#login-btn.primary-btn( type="submit", value="login")
        a(href="/recovery")="Forgot password?"
        p#error-message.validation-message=errorMessage
block foot
    script(src="/js/ui/validation/login_validation.js", type="module") 
