extends ../shared/layout.pug
block head 
    link(rel="stylesheet", href="/css/auth.css")

block content
    div#recovery-form.main-component
        h1= "Recover password"
        p="Please enter the email associated with your account."
        form(action="/recovery" method="POST") 
            input#recovery-email-input(name="email" type="text" placeholder="email")
            div(class="btn-group")
                input#submit-recovery-btn.reg-btn-sm.btn.primary(class="", type="submit", value="recover password")
            p#error-message.error.text=errorMessage    
block foot
        script(src="js/ui/validation/password_reset_request_validation.js", type='module') 