extends ../shared/layout.pug

block head

block content
    div.row 
       div.col.sm12
          h1="Sucessfully sent recovery email!"
          p="Please press the link in your email account to reset your password."
block foot


