extends ../shared/layout.pug

block head
    link(rel="stylesheet", href="/css/view_styles/recovery_request_success.css")

block content
    div.row 
       div.col.sm12
          h1="Sucessfully sent recovery email!"
          p="Please press the link in your email account to reset your password."
block foot


